@media handheld, only screen and (max-width: 1600px){
ul.slimmenu li ul li a{ line-height: 30px; }
#footerHolder{
	.footer{
		li{padding: 20px 0px;}
		p{ padding-top: 20px; }
	}
}
}

@media handheld, only screen and (max-width: 1365px){
.headerCon{ max-width: 1200px; 
	.hd_bottom{
		.logo{ margin-top: 0; }
	}
}
#slider_holder{
	.bannerDet{ left: 15%; }
}
}

@media handheld, only screen and (max-width: 1279px){
.home{ overflow-x:hidden;}
.headerCon{ max-width: 1100px; }
ul.slimmenu li a{ padding: 20px 15px 30px 15px; }
.tl_bg{ font-size: 115px; line-height: 90px; }
h2{ font-size: 30px; padding: 28px 80px 28px 80px;}
#about_us { 
	.about_con{width: 100%; max-width: 1000px; padding: 0 10px; margin:0 auto;}
	.abt_ast,.abt_why{ text-align: center; margin: 0 auto;
		.abtSect_title{ top: auto; padding: 10px 0; background: none;}
		.shadow{ display: none; }
	}
	.abt_ast {
		.abtSect_title{ width: 100%; max-width: 100%; position: relative; right: auto;  }
	}
	.abt_why { float: none;
		.abtSect_title{ width: 100%; max-width: 100%; position: relative; left: auto; }
	}
}

#md_meassage{
	.container{ width: 100%; max-width: 900px; }
	.msg_hld{ padding: 25px 10px 0px 10px; 
		.profile_icon{ width: 100%; max-width: 270px; float: none; 
		}
		.profile_message{ width: 100%; float: none; padding: 0px 20px; }
		.profile_icon{
			.prof_desc{ padding: 10px 0px 10px 0px;}
		}
	}
}

}

@media handheld, only screen and (max-width: 1157px){
#top_brands{
	li{
		.commanBtn{ font-size: 12px; }
	}
}
.headerCon{ max-width: 1200px; 
	.search{ top: 5px; }
	.hd_top{ width: 100%; text-align: center; padding: 0;
		a{ color: @color-white; 
			&:first-child{ display:block; padding-top:10px; padding-bottom: 10px; }
		}
		span{ display: block; padding: 10px 0 20px 0px;}
	}
	.hd_bottom{ padding: 60px 0px 5px 0px;
		.logo{ position: absolute; left: 20px; top: 13px; width: 100%; max-width: 380px; }
		nav{ position: absolute; right: 0px; bottom: 0px; width: 100%; }
	}
	ul.slimmenu{ position: absolute; left: 0px; top: 48px; padding-bottom: 20px;}

}

#whats_new{
	.videoHolder{
		.videoCon{ width: 72%; }
		.all_video{ width: 26%; }
	}
}

#product{
	.product_blurb{ padding: 0 10px;}
	.similar_products{
		.owl-next{ right: -20px;}
		.owl-prev{ left: -20px;}
	}
}


}

@media handheld, only screen and (max-width: 1023px){
#search_con{ padding: 0px 0px 10px 0px;
	.container{ padding: 0 10px; }
	.closeSearch{ right: 10px; }
}


#slider_holder{
	.bannerDet{
		.text_slide{ font-size: 34px; }
	}
	.knowMoreBtn{ max-width: 140px; padding: 20px 25px 18px 5px; background: #0060ae url(../images/know-more-arrow.png) no-repeat center right 10px;}
}

#application{
	.tiles{ height: 135px; }
	.exploe_con{ top: 15%;
		.commanBtn{ font-size: 14px; }
	}
	.owl-carousel .owl-controls .owl-dots{ bottom: 25px;}
	.owl-carousel .owl-controls .owl-dot{ width: 40px; height: 40px; }
	.owl-carousel .owl-controls .owl-dot span{ width: 40px; height: 40px; font-size: 20px; }
}

#top_brands{
	li{ width: 100%;}
	.direction-reveal__card{ width: 100%; }
}

#whats_new{ padding: 0 0 40px 0px;
	.socialHolder{ width: 100%; max-width: 680px; margin: 0 auto; }
	.col-2{ display: block; width: 100%; }
	.videoHolder{ width: 100%; max-width: 600px; margin:0 auto;
		.vid_astral_logo{ padding: 0 0 10px 0; }
		.videoCon{ width: 100%; float: none; margin: 0 auto;}
		.all_video{ width: 100%; float: none;}
	}
	.socialFieldHolder{
		.social_lt{ width: 100%; display: none; }
		.social_rt{ width: 100%; max-width: 400px; float: none; margin: 0 auto; }
	}
	.event_head{
		.lt{ display: none; }
		.rt{ width: 100%; min-height: auto; float: none; text-align: center; 
			.event_title{ position: relative; left: auto; top: auto; padding-top: 30px; }
			span{ display: inline-block; font-size: 30px; text-transform:  uppercase;}
		}
	}
}

#about_us { 
	.abt_ast,.abt_why{ text-align: left; margin: 0 auto;
		ul{ display: none; }
		p{ padding: 20px 30px; }
	}
}

#md_meassage{
	.container{ width: 100%; max-width: 900px; }
	.msg_hld{ padding: 25px 10px 0px 10px; 
		ul{ display: none; }
	}
}

#production{
	.map_slice{ display: none; }
	.mapHolder { height: auto; text-align: center; margin: 35px auto 0 auto;
		.pointers, .flag { position: relative; left: auto; right: auto; top: auto; bottom: auto; display: inline-block; width: 60px; margin: 0 5px;
			img{ width: 39px; margin: 0 auto; }
		 }
		.pin,.base, .line{ display: none; }
	}

	.addressCon{ height: auto;
		.add_con{ position: relative; left: auto; top: auto; right: auto; bottom: auto; margin:0 auto; padding: 0; display: none; }
		.add_pan{ background: none;}
		.plants_india{ width: 310px; }
	}
}

#application{ padding: 30px 0 0 0;
	.sect_title{ padding-bottom: 20px; }
	.exploe_con{ width: 100%; max-width: 100%; right: 0px; bottom: auto; top: 20%; }
	.tiles:nth-child(odd) .exploe_con{ right: 0; }
    .tiles:nth-child(even) .exploe_con{ left: 0; }
    .tilesCon{ padding: 0 10px;}
}

#product{
	.product_banner{padding: 20px 0;}
	.product_blurb{ width: 50%;}
	.select_category, .select_brand{ display: block;}

	.category_holder{ width: 100%; max-width: 300px; margin: 0 auto 10px auto;
		ul{ position: absolute; left: 0px; top: 44px; width: 100%; background: #f6f8fb; z-index: 9; display: none; }
		li{ display: block; padding: 0;}
	}

	.sub_category_hld{ display: block; width: 100%; max-width: 300px; padding: 0; margin: 0 auto;
		ul{ position: absolute; left: 0px; top: 44px; width: 100%; background: #f6f8fb; z-index: 9; display: none;}
		li{display: block; padding: 0;
			&:first-child{ display: none;}
		}
	}


	.prod_lt{ width: 100%;
		.lt_icon{ width: 30%; padding-top: 25px;}
		.lt_det{ padding-top: 0;}
	}
	.prod_rt{ display: none;}

	.resi_det{ max-width: 430px;}
	.pd_description{ max-width: 590px;}
	.packing{
		li{ padding: 35px 15px 35px 15px;
			span:last-child{padding-left: 25px; }
		}
	}
	.similar_products{ z-index: 8;
		.sm_prod_slider{ padding: 20px 20px 0px 20px;}
		.owl-next{ right: 5px;}
		.owl-prev{ left: 5px;}
	}
	.resi_left_space{ padding-left: 40px;}
}

/*Contact Us*/
.office_add_con{ padding: 0 10px 17px 10px;
	h2{ background: @color-blue!important; color: @color-white; padding: 10px; margin-bottom: 10px; cursor: pointer;}
	p{ padding: 0 0 0 10px;}
	.cityAdd{
		.address_det{ position: relative; max-width: 100%; left:auto; top:auto; -moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); margin: 0 auto; padding: 0 0 0px 0;}
		.add_rt{ display: none;}
	}
	.global_address_con{
		.add_lt{ display: none;}
		.add_rt{ max-width: 100%;
			.address_det{ padding: 0 0 0px 0;}
		}
		
	}
	.arrow{ display: block;}
	.res_det{ display: none; padding-bottom: 30px;}
}

#footerHolder{
	 .footer{ 
	 	.footer_blurb{ padding: 0 20px;
	 		&:nth-child(1){ width: 50%; }
	 		&:nth-child(2){ width: 50%; }
	 		&:nth-child(3){ display: block; width: 100%; }
	 	}
	 }
}



}



@media handheld, only screen and (max-width: 767px){
.headerCon{
	.hd_bottom{
		.logo{ top: 18px; max-width: 285px; }
	}
}
h2{ padding: 10px 60px 10px 60px; }
.enq_button{ right: -135px;
	&:hover{ right: 0;}
}

/*Home Page*/
#slider_holder{
	.bannerDet{ left: 9%; max-width: 480px;
		.text_slide{ font-size: 24px; }
	}
	.knowMoreBtn{ font-size: 14px; }
}
#home_about{ padding: 105px 0px 0px 0px;
	h2{
		span{ display: block; }
	}
	p{ line-height: 27px; padding: 10px 20px; }
}
#counterHolder{ padding: 0px 0px 40px 0px;
	.unitIconCon{ max-width: 150px; min-height: 150px; border: #ffffff 6px solid; }
	.counter_det{ padding: 25px 0px 0px 0px;
		.counter{ font-size: 40px; }
		p{ font-size: 20px; line-height: 27px; }
	}
}

#whats_new{
	h2{
		span{ display: block; }
	}
	.socialHolder{padding: 20px 0px 0px 0px;}
	.videoHolder{
		.vid_astral_logo{ display: none; }
	}
}

#subsidiaries{ padding: 20px 0px 30px 0;
	li{ max-width: 220px;}
}

/*Home Page*/

#about_us h2,#md_meassage h2{ background-position: center left -30px, center right -30px;}

.tl_bg{ display: none; }
#about_us { padding: 20px 0px 20px 0px; 
	.sect_title{ padding-bottom: 10px; }
	.about_con{width: 100%; max-width: 1000px; padding: 0 10px; margin:0 auto; padding-bottom: 30px;}
	.abt_ast,.abt_why{ 
		.abtSect_title{ font-size: 22px; text-align: left; }
		p{ padding: 20px 0px 0 0; line-height: 24px; }
	}
}

#md_meassage{
	.container{ width: 100%; max-width: 900px; }
	.msg_hld{ padding: 25px 10px 0px 10px; 
		.profile_icon{ max-width: 340px; margin:0 auto; }
		.profile_message{ background: none; padding: 0;
			p{ line-height: 24px; }
		}
	}
}

#product{
	h2{ padding: 20px 10px 20px 10px; background: none; }
	.backBtn{ top: -8px;}
	.productInner{
		li{ text-align: left;}
	}
	.bannerHolder{ padding: 0 10px;}
	.product_banner{ text-align: center; padding: 20px 10px;}
	.prod_lt{
		.lt_icon{ display: block; width: 100%; max-width: 120px; margin: 0 auto; padding-top: 0;
			img{ width: 100%; height: auto;}
		}
		.lt_det{ width: 100%; padding-top: 20px;}
	}

	.product_blurb{ display: block; width: 100%; }


	.product_graystrip{  padding: 15px 0px 0px 0px;  z-index: 9;
		.res_specs_tl{ display: block;}
		.specs_list{ display: none; width: 100%; position: absolute; left: 0px; top: 40px; background: #f5f5f5;}
		span{ display: block; padding: 10px 0px;}
	}
	.resi_shot{ float: none; max-width: 210px; padding-right: 0px; margin: 0 auto;}
	.resi_det{ float:none; max-width: 100%; text-align: center; padding-top: 20px;}
	.pd_icon{ display: block; margin: 0 auto;}
	.pd_description{ display: block; max-width: 100%; text-align: center; padding: 20px 0px 0px 0px;}
	.packing{
		li{ display: block; width: 100%; margin: 0 auto 10px auto;}
	}
	.resi_left_space{ padding-left: 10px; padding-right: 10px;}
}

.contact_forn_con{ padding: 35px 10px;
	.fieldHolder{ width: 100%;}
}
.contact_forn_con{ margin: 0 0 50px 0;}

#footerHolder{
	 .footer{ 
	 	.footer_blurb{ padding: 0 20px;
	 		&:nth-child(1){ width: 100%; }
	 		&:nth-child(2){ width: 100%; }
	 	}
	 	li{padding:10px 0;}
	 }
	 .newsletter{
	 	li{ display: block; width: 100%; text-align: center; padding:5px 0px; }
	 }
	 .footerClose{
	 	.ft_close{ font-size: 15px; }
	 }
	 .footer_bottom{ text-align: center; padding: 40px 0px 20px 0px; 
	 	.creadit, .created_by{ display: block; width: 100%; text-align: center;} 
	 	.creadit{ padding: 40px 0px 20px 0px; }
	 }
}


}

@media handheld, only screen and (max-width: 480px){
h2{ font-size: 26px; }
#search_con{ padding: 0px 0px 10px 0px;
	.search_txtBox{ font-size: 32px; }
}
.headerCon{
	.hd_bottom{
		.logo{ left: 10px; top: 20px; max-width: 240px; }
	}
}

/*Home Page*/
#counterHolder{
	li{ display: block; width: 100%; max-width: 280px; margin: 0 auto; padding-bottom: 20px; }
	.unitIconCon{ max-width: 180px; min-height: 180px; border: #ffffff 10px solid; }
	.counter_det{ padding: 10px 0px 0px 0px;
		.counter{ font-size: 30px; padding-bottom: 0; }
	}
}
/*Home Page*/

#md_meassage{
	.msg_hld{ padding: 25px 10px 0px 10px; 
		.profile_icon{ max-width: 100%; }
	}
}
#production .addressCon .owl-carousel .owl-controls .owl-nav .owl-next{ right: 0px; }
#production .addressCon .owl-carousel .owl-controls .owl-nav .owl-prev{ left: 0px; }
}

@media handheld, only screen and (max-width: 479px){

#slider_holder{
	.bannerDet{ width: 100%; max-width: 100%; position: relative; left: auto; top: auto; font-size: 20px; text-align: center; -moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); padding-top: 10px; 
		.text_slide{ padding: 0px 22px 0px 22px;}
	}
	.knowMoreBtn{ margin: 0 auto; padding: 8px 25px 6px 5px;}
	.owl-dots{ top: 20%!important; -moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); }
	.owl-dot{ width: 10px; height: 10px; margin: 5px 0px; }
	    /* -webkit-transform: translate3d(0, -100%, 0); */ /* transform: translate3d(0, -100%, 0); */
}

#product{
	.resi_quick{ padding: 30px 10px;}
	.pd_det_blurb{ padding: 25px 10px;}
	.packing{
		ul{padding: 10px 10px 20px 10px;}
		li{padding: 20px 15px 20px 15px;
			span{ display: block; margin: 0 auto; text-align: center;
				&:last-child{ padding: 20px 0px 0px 0px;}
			}
		}
	}
	.similar_products{ padding: 0px 0px 50px 0px;}
}

#subsidiaries{
	li{ max-width: 150px; margin:10px auto;}
}

}

@media handheld, only screen and (max-width: 375px){
h2{ font-size: 26px; padding: 0px 0px 10px 0px; background: none!important; }
.headerCon{
	.hd_bottom{
		.logo{top: 22px; max-width: 200px; }
	}
}
#whats_new{
	.event_head{
		.rt .event_title{ font-size: 26px; 
			span{ font-size: 26px; }
		}
	}
}
#about_us { padding: 20px 0px 20px 0px; 
	.abt_ast,.abt_why{ 
		.abtSect_title{ font-size: 18px; text-align: left; }
	}
}
#production .addressCon .owl-carousel .owl-controls .owl-nav .owl-next{ right: 10px; }
#production .addressCon .owl-carousel .owl-controls .owl-nav .owl-prev{ left: 10px; }

#product{
	
	.similar_products{ z-index: 8;
		h2{ padding: 20px 10px 20px 10px;}
	}
}
.contact_forn_con{
	h3{ font-size: 16px; padding: 0px 5px 15px 5px;}
}
}

