
.centreOne{ position: relative; background-color: #f1f1f1; width:24%; max-width: 322px; margin: 0 auto; }
.petals{position: absolute; top: 0; width: 59.9378%; max-width: 193px; height: auto;}
#benchLeft{ left: 0;}
#benchRight{ right: 0; }
#benchOne{ position: relative; top: 0%; left: 0%; width: 100%; max-width: 322px; /*transform:translate(-50%, -50%);*/ }

#bemarkLeft{ position: absolute; top: 80px; left: 0;}
#bemarkRight{ position: absolute; top: 80px; right: 0;}

